<!--
> Muaz Khan     - https://github.com/muaz-khan
> MIT License   - https://www.webrtc-experiment.com/licence/
> Documentation - https://github.com/streamproc/MediaStreamRecorder
> =================================================================
> audio-recorder.html
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MultiStreamRecorder.js & MediaStreamRecorder</title>

        
        @*<script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"></script>*@

        <script src="../../Scripts/jquery.min.js"></script>
        <script src="../../Scripts/MediaStreamRecorder.js"></script>
        <style>
            input {
                border: 1px solid rgb(46, 189, 235);
                border-radius: 3px;
                font-size: 1em;
                outline: none;
                padding: .2em .4em;
                width: 60px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div>
            <label for="time-interval">Time Interval (milliseconds):</label>
            <input type="text" id="time-interval" value="5000">ms

            <button id="start-recording">Start Recording</button>
            <button id="stop-recording" disabled>Stop Recording</button>
        </div>
        
        <div id="container"></div>
        
        <script>
            // commonly allowed resolutions:
            // ['1920:1080', 
            // '1280:720', 
            // '960:720', 
            // '640:360', 
            // '640:480', 
            // '320:240', 
            // '320:180']
            var resolution_x = 1280;
            var resolution_y = 720;

            var mediaConstraints = {
                audio: true,
                video: {
                    mandatory: {
                        maxWidth: resolution_x,
                        maxHeight: resolution_y,
                        //minFrameRate: 3,
                        //maxFrameRate: 64,
                        //minAspectRatio: 1.77
                    }
                }
            };

            document.querySelector('#start-recording').onclick = function() {
                this.disabled = true;
                navigator.getUserMedia(mediaConstraints, onMediaSuccess, onMediaError);
            };

            document.querySelector('#stop-recording').onclick = function() {
                this.disabled = true;
                //multiStreamRecorder.stop();

                audioRecorder.stop();
                videoRecorder.stop();

                if (audioRecorder.stream)
                    audioRecorder.stream.stop();
                if (videoRecorder.stream)
                    videoRecorder.stream.stop();

                recordingStopped = true;

                mergeChunkFiles(mainFileName);

                //var checkFileUploadStatues = setInterval(function() {
                //    if (convertedFileCounter == uploadedFileCounter / 2) {
                //        clearInterval(checkFileUploadStatues);
                //        mergeChunkFiles(mainFileName);
                //    }
                //}, 2000);

                //if(multiStreamRecorder.stream) {
                //    multiStreamRecorder.stream.stop();
                //}
            };

            var multiStreamRecorder;

            //var audioVideoBlobs = {};
            //var recordingInterval = 0;

            var fileToUpload = 0;
            var convertedFileCounter = 0;
            var audioFileCounter = 0;
            var videoFileCounter = 0;
            var uploadedFileCounter = 0;

            var audioRecorder;
            var videoRecorder;
            var fileNameStored;
            var recordingStopped = false;
            var mainFileName;
            function onMediaSuccess(stream) {

                var video = document.createElement('video');

                video = mergeProps(video, {
                    controls: true,
                    src: URL.createObjectURL(stream)
                });
            
                 mainFileName = new Date().getTime();
                video.addEventListener('loadedmetadata', function() {
                    audioRecorder = new MediaStreamRecorder(stream);
                    videoRecorder = new MediaStreamRecorder(stream);
                    audioRecorder.mimeType = 'audio/wav';
                    videoRecorder.mimeType = 'video/webm';

                    var audioBlobs = [];
                    var videoBlobs = [];

                    videoRecorder.video = video;


                    audioRecorder.ondataavailable = function(blob) {
                        //appendLink(blob);
                        debugger;
                        ++fileToUpload;
                        var audioFileName = mainFileName + "-" + audioFileCounter + ".wav";
                        fileNameStored = mainFileName + "-" + audioFileCounter;
                        ++audioFileCounter;
                        //PostBlob(blob, "audio", audioFileName, mainFileName, audioUploadCallback);

                        PostBlob(blob, "audio", audioFileName, mainFileName, function(data) {
                            --fileToUpload;
                            ++uploadedFileCounter;
                            if (fileToUpload <= 0 && (convertedFileCounter <= audioFileCounter)) {
                                var temp = mainFileName + "-" + convertedFileCounter;
                                console.log("Converting File -> " + temp);
                                ConvertToMp4(temp, mainFileName);
                            }
                        });

                    };

                    videoRecorder.ondataavailable = function(blob) {
                        //appendLink(blob);

                        ++fileToUpload;
                        var videoFileName = mainFileName + "-" + videoFileCounter + ".webm";

                        ++videoFileCounter;
                        //PostBlob(blob, "video", videoFileName, mainFileName,videoUploadCallback);
                        PostBlob(blob, "video", videoFileName, mainFileName, function(data) {
                            var temp = mainFileName + "-" + convertedFileCounter;
                            console.log("Converting File -> " + temp);

                            --fileToUpload;
                            ++uploadedFileCounter;
                            if (fileToUpload <= 0 && (convertedFileCounter <= videoFileCounter)) {
                                //console.log("Converting File ->" + fileName);
                                ConvertToMp4(temp, mainFileName);
                            }
                        });
                    };

                    //var timeInterval = document.querySelector('#time-interval').value;
                    //if (timeInterval)
                    //        timeInterval = parseInt(timeInterval);
                    //else timeInterval = 30 * 1000;
                    timeInterval = 50 * 1000;
                    audioRecorder.start(timeInterval);
                    videoRecorder.start(timeInterval);

                });

                video.play();
                document.querySelector('#stop-recording').disabled = false;
                container.appendChild(video);
                container.appendChild(document.createElement('hr'));
            }


            var audioUploadCallback = function audioUploaded(mainFileName) {
                --fileToUpload;
                if (fileToUpload <= 0 && (convertedFileCounter <= audioFileCounter)) {
                    //console.log("Converting File ->" + fileName);
                    ConvertToMp4(mainFileName + "-" + convertedFileCounter);
                }

            };

            var videoUploadCallback = function(mainFileName) {
                --fileToUpload;
                if (fileToUpload <= 0 && (convertedFileCounter <= videoFileCounter)) {
                    //console.log("Converting File ->" + fileName);
                    ConvertToMp4(mainFileName + "-" + convertedFileCounter);
                }
            };


            function ConvertToMp4(fileName, mainFileName) {
                // FormData
                var formData = new FormData();
                formData.append("audio" + '-filename', fileName + ".wav");
                formData.append("video" + '-filename', fileName + ".webm");
                formData.append("mainFileName", mainFileName);
                var fileType = "video";

                // Check for status of server 

                //checkStatus("/RecordRTC/CheckStatus", fileName+".txt");


                $.ajax({
                        type: 'POST',
                        url: '/RecordRTC/ConvertFile',
                        data: formData,
                        processData: false,
                        contentType: false
                    }).done(function(data) {

                        ++convertedFileCounter;
                        console.log("File converted counter" + fileName);
                        //container.appendChild(document.createElement('hr'));
                        //var mediaElement = document.createElement(fileType);

                        //var source = document.createElement('source');
                        //source.src = location.href + 'uploads/' + data.replace(/"/g, '');

                        //if (fileType == 'video') source.type = 'video/webm; codecs="vp8, vorbis"';
                        //if (fileType == 'audio') source.type = !!navigator.mozGetUserMedia ? 'audio/ogg' : 'audio/wav';

                        //mediaElement.appendChild(source);

                        //mediaElement.controls = true;
                        //container.appendChild(mediaElement);
                        //mediaElement.play();
                    })
                    .error(function () {

                    });
            }

            /// Call when recording stopped to mergre all files and create final file 
            function mergeChunkFiles(mainFileName) {
                var option = {
                    url: "/RecordRTC/MergeChunkFiles",
                    type: "POST",
                    data : {mainFileName : mainFileName}
                };

                $.ajax(option).done(function(data) {
                    var video = document.createElement("video");
                    video.src = "/uploads/" + data;
                    container.appendChild(video);
                    container.appendChild(document.createElement('hr'));
                });
            }

            function appendLink(blob) {
                var a = document.createElement('a');
                a.target = '_blank';
                a.innerHTML = 'Open Recorded ' + (blob.type == 'audio/ogg' ? 'Audio' : 'Video') + ' No. ' + (index++) + ' (Size: ' + bytesToSize(blob.size) + ') Time Length: ' + getTimeLength(timeInterval);

                a.href = URL.createObjectURL(blob);

                container.appendChild(a);
                container.appendChild(document.createElement('hr'));
            }

            function onMediaError(e) {
                console.error('media error', e);
            }

            var container = document.getElementById('container');
            var index = 1;
            
            // below function via: http://goo.gl/B3ae8c
            function bytesToSize(bytes) {
               var k = 1000;
               var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
               if (bytes === 0) return '0 Bytes';
               var i = parseInt(Math.floor(Math.log(bytes) / Math.log(k)),10);
               return (bytes / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i];
            }
            
            // below function via: http://goo.gl/6QNDcI
            function getTimeLength(milliseconds) {
                var data = new Date(milliseconds);
                return data.getUTCHours()+" hours, "+data.getUTCMinutes()+" minutes and "+data.getUTCSeconds()+" second(s)";
            }
            
            window.onbeforeunload = function() {
                document.querySelector('#start-recording').disabled = false;
            };




            function PostBlob(blob, fileType, fileName, mainFileName, callback) {
                // FormData
                console.log("Size " + blob.size);

                var formData = new FormData();
                formData.append(fileType + '-filename', fileName);
                formData.append(fileType + '-blob', blob);
                formData.append("chunkFileName", fileName);
                formData.append("mainFileName", mainFileName);
                //++activeAjaxConnections;
                var option = {
                    type: 'POST',
                    url: '/RecordRTC/PostRecordedAudioVideo',
                    data: formData,
                    processData: false,
                    contentType: false
                };
                $.ajax(option).done(callback)
                .error(function () {

                });


            }
        </script>
    </body>
</html>
